$bg-color1:#e21657;
$bg-color2:#da2f40;
$bg-color3:linear-gradient(145deg, #1e2024, #23272b);
$shadow:0px 0px 5px #1c1e22, -0px -0px 5px #262a2e;
$color-white:#fff;
$color-black:black;
$bg-hover:#e0dbd244;
$shadowColor:rgb(0,0,0,0.3);
$uppercase:uppercase;
$transition:0.4s;
$relative:relative;
$absolute:absolute;
$bold:bold;
$text-center:center;
$decorationNone: none;
$padding4:40px;