$bg-color:linear-gradient(145deg, #1e2024, #23272b);
$bg-color2:rgba(255,255,255,0.1);
$shadow:0px 0px 5px #1c1e22, -0px -0px 5px #262a2e;
$color-white:#f6f6f6;
$bg-hover:rgba(224, 219, 210, 0.267);
$uppercase:uppercase;
$transition:0.4s;
$relative:relative;
$absolute:absolute;
$bold:bold;
$text-center:center;

.header{
    height: 70px;
    background-color:#da2f40;
}
.custom-btn{
    text-decoration: none;
    border-radius: 6px;
    padding: 12px 15px;
    font-weight:$bold;
    font-size:15px;
    color: $color-white;
    border: 1px solid rgba(255,255,255,0.2);
    transition:$transition;
    margin-right: 10px;
    background: transparent;
}
.custom-btn:hover{
    background-color:$bg-hover;
    color: $color-white;
}
.banner-container{
    width: 100%;
    padding-bottom: 5%;
    background: url('images/Frame\ 58.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-white;
}


.banner-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    line-height: 60px;
    text-align:$text-center;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: $uppercase;
    border-radius: 6px;
    transition:$transition;
    background:$bg-color;
    box-shadow:$shadow;
    position: $relative;
}


@media only screen and (max-width:688px){
.img-container img{
  margin-left:0px;
}
}

.about_bg{
    background: rgb(41, 40, 40);
    color:white;
    padding:40px 0;
}
.about-img{
    text-align: center;
}
.about{
    border-radius: 6px;
    transition:$transition;
    text-transform: $uppercase;
}
.service-container{
    width: 100%;
    padding-bottom: 5%;
    background: #fff;
    color: #f6f6f6;
    padding:40px;
}

.card-filp{
    width: 100%;
    height: 250px;
    color:black;
    position: relative;
}
.front,.back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.4s;
    border-radius: 6px;
    padding: 40px;
    color: black;
    text-align: $text-center;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}
.front{
    background:#fff;
    transform: rotateY(0deg);
}
.back{
    background: #e21657;
    color: #fff;
    transform: rotateY(180deg);
}
.card-filp:hover .front{
     transform: rotateY(180deg);
}
.card-filp:hover .back{
     transform: rotateY(0deg);
}

.custom-card{
    border-radius: 6px;
    transition: 0.4s;
    padding: 40px;
    height: 250px;
    background:$color-white;
    color: black;
    text-align: $text-center;
    box-shadow: 0 0 5px rgb(0,0,0,0.3);
    position: relative;
}
.card-wrapper{
    background: rgb(41, 40, 40);
    padding:80px 0;
    color: #fff;
}
.card-two{
    width: 18%;
    height: 350PX;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
    margin-left:5%;
    padding: 1%;
    border-radius: 15px;
    margin-top:25px;
    text-align: left;
}
.btn-custom{
    border: none;
    padding:8px 10px;
    background: #da2f40;
    color: #fff;
    border-radius: 3px;
}
.icon{
    color: #f9004d;
}
.form-btn{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background:transparent;
    color:$color-white;
    border:1px solid $color-white;
    border-radius: 30px;
    font-weight: $bold;
    transition:$transition;
}
.form-btn:hover{
    background-color: $bg-hover;
    color: $color-white;
}

.footer{
  text-align:$text-center;
   background: $bg-color;
    color:$color-white;
    padding:10px;
    padding-top: 20px;
}

.form-container{
    padding:40px 60px;
}
.txt{
    font-size: 7px;
    color: #da2f40;
}
.contact-card{
    border-radius: 6px;
    transition: 0.4s;
    padding:20px 10px;
    margin-bottom: 18px;
    background:linear-gradient(145deg, #1e2024, #23272b);
    color: rgb(206, 202, 202);
    position: relative;
    transition: 0.4s;
}

.form-container textarea,input {
    outline: none !important;
    margin: 5px;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid black !important;
    resize: none;
}

.icon{
    color: #f9004d;
}

.text::before{
    display: inline-block;
    margin: 0 20px 8px 0px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color:#f9004d;
    width: 80px;
}
.text::after{
    display: inline-block;
    margin: 0 20px 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color:#f9004d;
    width: 80px;
}
.form-side{
    border-radius: 6px;
    padding: 40px;
    background:$bg-color;
}
